@import "tailwindcss";

@layer base {
  body {
    font-family:
      system-ui,
      -apple-system,
      sans-serif;
    -webkit-font-smooting: antialiased;
    -moz-osx-font-smooting: grayscale;
    background-color: #e6e6ff;
    overflow-x: hidden;
  }
}
